*{
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    font-size: 71px;
    height: 10vh;
    margin-top: 24px;
    margin-bottom: 54px;
}

main{
    height: 60vh;
    width: 40vw;;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
}

.cell{
    display:grid; 
    place-self: center; 
    font-size:54px; 
    height: 90%;
    width: 90%;
    text-align: center;
    align-items: center;
    border: 2px solid black;
}

form{
    display: grid;
    font-size: 24px;
    grid-template-columns: 1fr 1fr;
    margin: 24px;
}

form button{
    grid-column: 1/3;
    place-self: center;
    background-color: rgb(0, 217, 255);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-size: 24px;
}

.info div{
    display: flex;
    flex-direction: column;
    padding: 24px;
}

footer{
    display: flex;
    gap: 7px;
    font-size: 22px;
    bottom: 0;
}

.fab{
    color: black;
    transition: 0.2s ease-in-out;
}

.fab:hover{
    transform: rotate(360deg) scale(1.05);
}